.lds-dual-ring, .error, .placeholder p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.4px; }

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 30px;
  font-weight: 900; }

.theme {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .theme-light {
    color: #13161b; }
    .theme-light:not(h1, p, span, .edit-menu) {
      background-color: #f7f7f7; }
  .theme-dark {
    color: #f7f7f7; }
    .theme-dark:not(h1, p, span, .edit-menu) {
      background-color: #13161b; }
  @media screen and (min-width: 737px) {
    .theme {
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px; } }

.stored {
  padding: 10px;
  height: 365px; }
  .stored:first-child {
    margin-top: -10px; }
  .stored p {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7px;
    font-size: 13px; }
    .stored p span {
      transform: translate(0, 1px);
      font-size: 16px;
      margin-right: 5px; }
    .stored p span::before {
      content: "\e971"; }
  .stored .edit {
    background: none;
    border: none;
    position: absolute;
    top: 2px;
    right: 5px; }
  .stored .owl-stage-outer {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); }

.owl-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px; }

.owl-carousel button.owl-dot {
  height: 5px;
  width: 5px;
  background-color: #ababab;
  border-radius: 50%;
  margin-right: 5px;
  z-index: 10; }
  .owl-carousel button.owl-dot.active {
    background-color: #4982CF; }

#stored-grid {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }

.owl-carousel {
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 737px) {
  #stored-grid {
    width: calc(100vw - 360px);
    height: 100%;
    overflow-y: scroll;
    right: 0;
    position: fixed;
    padding: 10px 10px; }
    #stored-grid-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }

  .stored {
    width: 320px; }
    .stored:first-child {
      margin-top: 10px; } }
#hamburger {
  width: 340px;
  height: 34px;
  text-align: left;
  border: none;
  padding-top: 3px;
  margin-left: auto;
  margin-right: auto; }
  #hamburger span {
    transform: translate(0, 3px); }
  #hamburger .minus::before {
    content: "\ea0b"; }
  #hamburger .plus::before {
    content: "\ea0a"; }
  #hamburger button {
    background: none;
    border: none;
    display: flex;
    flex-direction: row; }
    #hamburger button p {
      margin: 0 8px;
      display: none;
      transition: .5s ease;
      font-weight: 700; }
  @media screen and (min-width: 737px) {
    #hamburger {
      display: none; } }

.img-select {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: auto;
  margin-right: auto; }
  .img-select-outer {
    width: 100%;
    margin-bottom: 0 !important; }
  @media screen and (max-width: 736px) {
    .img-select {
      padding-top: 0; } }
  .img-select h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500; }
  .img-select #drop-form, .img-select #input-email {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #13161b !important; }
    .img-select #drop-form input[type=email], .img-select #drop-form select, .img-select #input-email input[type=email], .img-select #input-email select {
      width: 190px; }
    .img-select #drop-form:first-child, .img-select #input-email:first-child {
      flex-grow: 1; }
    .img-select #drop-form:last-child, .img-select #input-email:last-child {
      flex-grow: 0; }
  .img-select #drop-form {
    margin-bottom: 20px;
    margin-top: 5px; }
  .img-select button, .img-select input[type=submit] {
    width: 100px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 5px; }
    .img-select button#submit, .img-select input[type=submit]#submit {
      background-color: #4982CF; }
      .img-select button#submit:hover, .img-select input[type=submit]#submit:hover {
        background-color: #3069b5; }
    .img-select button#store-button, .img-select input[type=submit]#store-button {
      background-color: #f41f2a; }
      .img-select button#store-button:hover, .img-select input[type=submit]#store-button:hover {
        background-color: #d50b15; }

@media screen and (min-width: 737px) {
  .img-select-outer {
    width: 340px;
    left: 0;
    position: fixed;
    height: calc(100vh - 20px); } }
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4982CF;
  border-color: #4982CF transparent #4982CF transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.img-card {
  position: relative; }

.img-card img, .stored img {
  border-radius: 3px; }

.email-invalid {
  display: none;
  margin: 0;
  color: red; }

.width-1, .width, .width-2 {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 737px) {
    .width-1, .width, .width-2 {
      width: 340px; } }

@media screen and (min-width: 1077px) {
  .width-2, .width {
    width: 680px; } }

@media screen and (min-width: 1417px) {
  .width {
    width: 1020px; } }

.background-dark {
  background-color: #282f39; }

.background-light {
  background-color: #d1d1d1; }

.greyed {
  background-color: #a2a3a3 !important;
  color: #d5d6d6 !important;
  border: 1px solid #d5d6d6 !important;
  pointer-events: none; }

.header {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }
  .header h1 {
    margin: 20px 10px;
    padding-left: 20px; }
  .header-inner {
    margin-top: 0;
    transition: width .25s ease; }
    .header-inner_content {
      margin: 0 10px; }

#h1 {
  transform: translate(0, -1px); }
  #h1 h1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 737px) {
  #h1 {
    display: none; } }
@media screen and (max-width: 736px) {
  #h2 {
    display: none; } }
/* The switch - the box around the slider */
#new-photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 5px 15px; }

#color-theme {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
  margin-top: 12px; }
  #color-theme p {
    color: #f7f7f7;
    margin: 0 5px; }
  #color-theme .icon:first-child:before {
    content: "\e9d4";
    margin-right: 5px; }
  #color-theme .icon:last-child:before {
    content: "\e9d5";
    margin-left: 5px; }
  #color-theme .icon {
    transform: translate(0, 2px); }

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20.4px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 2.4px;
  bottom: 2.4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #4982CF; }

input:focus + .slider {
  box-shadow: 0 0 1px #4982CF; }

input:checked + .slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px); }

/* Rounded sliders */
.slider.round {
  border-radius: 20.4px; }

.slider.round:before {
  border-radius: 50%; }

.edit-menu {
  position: absolute;
  top: 30px;
  right: 5px;
  padding: 5px 10px;
  z-index: 10;
  border-radius: 3px;
  box-shadow: none;
  margin: 0;
  background-color: #13161b;
  color: #f7f7f7;
  display: none; }
  .edit-menu:hover {
    cursor: pointer; }
  .edit-menu button {
    margin: 5px 0;
    background: none;
    border: none; }
  .edit-menu .line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4); }

.placeholder {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 360px; }
  .placeholder p {
    margin: 0;
    font-size: 20px;
    color: #88898A; }

@media screen and (min-width: 737px) {
  .placeholder-view {
    display: block; } }

/*# sourceMappingURL=application.css.map */
