.lds-dual-ring, .error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.4px; }

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 30px;
  font-weight: 900;
  color: white; }

.theme {
  background-color: #0f1115;
  border-radius: 10px;
  display: block;
  margin: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2); }

.stored {
  padding: 10px;
  width: 320px;
  height: 365px; }
  .stored p {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7px;
    font-size: 13px; }
    .stored p span {
      transform: translate(0, 1px);
      font-size: 16px;
      color: white;
      margin-right: 5px; }
    .stored p span::before {
      content: "\e971"; }
  .stored .edit {
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 2px;
    right: 5px; }
  .stored .owl-stage-outer {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); }

.owl-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px; }

.owl-carousel button.owl-dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
  z-index: 10; }
  .owl-carousel button.owl-dot.active {
    background-color: #4982CF; }

#stored-grid {
  width: calc(100vw - 360px);
  height: 100%;
  overflow-y: scroll;
  right: 0;
  position: fixed;
  padding: 10px 10px; }
  #stored-grid-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.img-select {
  height: calc(100vh - 20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 340px;
  left: 0;
  position: fixed; }
  .img-select h1 {
    margin-top: 0;
    text-align: left;
    font-weight: 500;
    margin-left: 5px; }
  .img-select #drop-form, .img-select #input-email {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .img-select #drop-form input[type=email], .img-select #drop-form select, .img-select #input-email input[type=email], .img-select #input-email select {
      width: 190px; }
    .img-select #drop-form:first-child, .img-select #input-email:first-child {
      flex-grow: 1; }
    .img-select #drop-form:last-child, .img-select #input-email:last-child {
      flex-grow: 0; }
  .img-select #drop-form {
    margin-bottom: 20px;
    margin-top: 5px; }
  .img-select button, .img-select input[type=submit] {
    width: 100px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 5px; }
    .img-select button#submit, .img-select input[type=submit]#submit {
      background-color: #4982CF; }
      .img-select button#submit:hover, .img-select input[type=submit]#submit:hover {
        background-color: #3069b5; }
    .img-select button#store-button, .img-select input[type=submit]#store-button {
      background-color: #f41f2a; }
      .img-select button#store-button:hover, .img-select input[type=submit]#store-button:hover {
        background-color: #d50b15; }

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4982CF;
  border-color: #4982CF transparent #4982CF transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.img-card {
  position: relative; }

.img-card img, .stored img {
  border-radius: 3px; }

.email-invalid {
  display: none;
  margin: 0;
  color: red; }

.width {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 737px) {
    .width {
      width: 340px; } }
  @media screen and (min-width: 1077px) {
    .width {
      width: 680px; } }
  @media screen and (min-width: 1417px) {
    .width {
      width: 1020px; } }

.width-1 {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 737px) {
    .width-1 {
      width: 340px; } }

.width-2 {
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 737px) {
    .width-2 {
      width: 340px; } }
  @media screen and (min-width: 1077px) {
    .width-2 {
      width: 680px; } }

.background {
  background-color: #242a33; }

.greyed {
  background-color: #a2a3a3 !important;
  color: #d5d6d6 !important;
  border: 1px solid #d5d6d6 !important;
  pointer-events: none; }

.header {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }
  .header h1 {
    margin: 20px 10px;
    text-align: center;
    color: white; }
  .header-inner {
    margin-top: 0;
    transition: width .25s ease; }
    .header-inner_content {
      margin: 0 10px; }

/*# sourceMappingURL=application.css.map */
