// --------------------------------------------------------------------------
// global helpers -----------------------------------------------------------
// --------------------------------------------------------------------------

$width: 300px;


$grey: #88898A;
$theme: #435060;
$blue: #0078BF;


$loading-color : $blue;


// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  496px;
$brkpoint-lg:  768px;
$brkpoint-xlg: 992px;
$brkpoint-xxlg: 1260px;