// --------------------------------------------------------------------------
// global helpers -----------------------------------------------------------
// --------------------------------------------------------------------------

//fonts

$font-url--google        : 'https://fonts.googleapis.com/css2?family=Nunito&display=swap';
$font-family--primary    : 'Nunito', sans-serif;
$font-family--secondary  :  sans-serif;
$font-family--icon       :  'fonts/IconMoon-Free.ttf';

// Font Weights

$font-weight--thin       : 300;
$font-weight--light      : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Text

$font-size--xsmall:10px;
$font-size--small: 13px;
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 0.4px;

$width: 300px;

$white: white;
$grey: #88898A;
$theme: darken(#435060, 25%);
$blue: #4982CF;
$gold: darken(#F65058, 10%);


$loading-color : $blue;


// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  340px;
$brkpoint-lg:  737px;
$brkpoint-xlg: 1077px;
$brkpoint-xxlg: 1417px;