// --------------------------------------------------------------------------
// img-select ---------------------------------------------------------------
// --------------------------------------------------------------------------

#hamburger {
    width: 340px;
    height: 34px;
    span {
        transform: translate(0, 3px);
    }
    text-align: left;
    .minus::before {
        content: "\ea0b";
    }
    .plus::before {
        content: "\ea0a";
    }
    border: none;
    padding-top: 3px;
    @include auto-mg-hor;
    button {
        background: none;
        border: none;
        @include flex-row;
        #new-photo-txt {
            margin: 0 8px;
            display: none;
            transition: .5s ease;
            font-weight: 700;
            transform: translate(0, 0px);
        }
    }
    @include mq(large) {
        display: none;
    }
}


.img-select {
    &-outer {
        width: 100%;
        margin-bottom: 0!important;
    }
    padding: 20px;
    @media screen and (max-width: ($brkpoint-lg - 1)) {
        padding-top: 0;
    }
    @include flex-col;
    width: $width + 40;
    @include auto-mg-hor;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    #drop-form, #input-email {
        height: 35px;
        @include flex-row;
        justify-content: space-between;
        color: $theme!important;
        input[type=email], select {
            width: 190px;
        }
        &:first-child {
            flex-grow: 1;
        }
        &:last-child {
            flex-grow: 0;
        }
    }
    #drop-form {
        margin-bottom: 20px;
        margin-top: 5px;
    }
    button, input[type=submit] {
        width: 100px;
        border-radius: 4px;
        text-transform: uppercase;
        border: none;
        &#submit {
            background-color: $blue;
            &:hover {
                background-color: darken($blue, 10%);
            }
        }
        &#store-button {
            background-color: $gold;
            &:hover {
                background-color: darken($gold, 10%);
            }
        }
        color: white;
        padding:5px;
    }
    #skip-img {
        width: 100%;
        margin-top: 10px;
        background-color: darken($white, 25%);
        &:hover {
            background-color: darken($white, 30%);
        }
    }
}

//media queries for large screen mode
@include mq(large) {
    .img-select {
        &-outer {
            width: $width + 40;
            left: 0;
            position: fixed;
            height: calc(100vh - 20px);
        }
    }
}