// --------------------------------------------------------------------------
// Stored Images ------------------------------------------------------------
// --------------------------------------------------------------------------
.theme {
    background-color: $theme;
    border-radius: 5px;
    display: block;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, .02);
    border: 1px solid rgba(255, 255, 255, .2);
}
.stored {
    padding: 10px;
    width: ($width + 20);
    height: 365px;
    
    
    p {
        margin: 0;
        color: white;
        @include flex-row;
        justify-content: center;
        span {
            transform: translate(0, 1px);
            font-size: 16px;
            color: white;
            margin-right: 5px;
        }
        margin-bottom: 7px;
        font-size: 13px;
        span::before {
            content: "\e971";
        }
    }
    .edit {
        background: none;
        border: none;
        color: white;
        position: absolute;
        top: 2px;
        right: 5px;
    }
    .owl-stage-outer {
        box-shadow: 0 0 5px rgba(255, 255, 255, .1);
    }
}

.owl-dots {
    @include flex-row;
    justify-content: center;
    padding-top: 10px;
}

.owl-carousel button.owl-dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    z-index: 10;
    &.active {
        background-color: $blue;
    }
}
#stored-grid {

    width: calc(100vw - 360px);
    height: 100%;
    overflow-y: scroll;
    right: 0;
    position: fixed;
    padding: 20px 10px;
    &-inner {
        @include flex-row;
        flex-wrap: wrap;
        max-width: 1040px;
        @include auto-mg-hor;
    }
}