// --------------------------------------------------------------------------
// Stored Images ------------------------------------------------------------
// --------------------------------------------------------------------------
.theme {
    &-light {
        &:not(h1, p, span, .edit-menu) {
            background-color: $white;
        }
        color: $theme;
    }
    &-dark {
        &:not(h1, p, span, .edit-menu) {
            background-color: $theme;
        }
        color: $white;
    }
    @include mq(large) {
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, .2);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, .06);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.stored {
    padding: 10px;
    height: 365px;
    &:first-child {
        margin-top: -10px;
    }
    p {
        margin: 0;
        @include flex-row;
        justify-content: center;
        span {
            transform: translate(0, 1px);
            font-size: 16px;
            margin-right: 5px;
        }
        margin-bottom: 7px;
        font-size: 13px;
        span::before {
            content: "\e971";
        }
    }
    .edit {
        background: none;
        border: none;
        position: absolute;
        top: 2px;
        right: 5px;
    }
    .owl-stage-outer {
        box-shadow: 0 0 5px rgba(255, 255, 255, .1);
    }
}

.owl-dots {
    @include flex-row;
    justify-content: center;
    padding-top: 10px;
}

.owl-carousel button.owl-dot {
    height: 5px;
    width: 5px;
    background-color: darken($white, 30%);
    border-radius: 50%;
    margin-right: 5px;
    z-index: 10;
    &.active {
        background-color: $blue;
    }
}
#stored-grid {

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.owl-carousel {
    @include auto-mg-hor;
}

//media query for large screen mode
@include mq(large) {
    #stored-grid {
        width: calc(100vw - 360px);
        height: 100%;
        overflow-y: scroll;
        right: 0;
        position: fixed;
        padding: 10px 10px;
        &-inner {
            @include flex-row;
            flex-wrap: wrap;
        }
    }
    .stored {
        width: ($width + 20);
        &:first-child {
            margin-top: 10px;
        }
    }
}