// --------------------------------------------------------------------------
// Error message and email error --------------------------------------------
// --------------------------------------------------------------------------

.error {
    @extend %img-center;
}

.email-invalid {
    display: none;
    margin: 0;
    color: red;
}