// --------------------------------------------------------------------------
// Error message and email error --------------------------------------------
// --------------------------------------------------------------------------

.error {
    background-color: $white;
    height: 300px;
    width: 300px;
    position: absolute;
    p {
        @extend %img-center;
    }
    &-dark {
        background-color: $theme;
    }
}

.email-invalid {
    display: none;
    margin: 0;
    color: red;
}