// --------------------------------------------------------------------------
// Dynamic Header -----------------------------------------------------------
// --------------------------------------------------------------------------

.header {
    h1{
        margin: 20px 10px;
        text-align: center;
    }
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    &-inner {
        margin-top: 0;
        transition: width .25s ease;
        &_content {
            margin: 0 10px;
        }
    }
}

#h1 {
    & h1 {
        width: 340px;
        @include auto-mg-hor;
        padding-left: 20px;
    }
}
    

//media queries for large screen mode
@include mq(large) {
    #h1 {
        display: none;
    }
}

@media screen and (max-width: $brkpoint-lg) {
    #h2 {
        display: none;
    }
}