// --------------------------------------------------------------------------
// width --------------------------------------------------------------------
// --------------------------------------------------------------------------



.width-1, .width, .width-2 {
    @include mq(large) {
        width: 340px;
    }
    @include auto-mg-hor;
}

.width-2, .width {
    @include mq(x-large) {
        width: 680px;
    }
}
.width {
    @include mq(xx-large) {
        width: 1020px;
    }
}